# Generic important files
*.mod                    @Kalkalash @AngriestBird @crocomoth @ShirkavandDev @KianGhk1530 @XCezor @MrP0tter @Blazer135 @TemplarGeneral
/CONTRIBUTING.md         @Kalkalash @AngriestBird @crocomoth @ShirkavandDev @KianGhk1530 @XCezor @MrP0tter @Blazer135 @TemplarGeneral
/README.md               @Kalkalash @AngriestBird @crocomoth @ShirkavandDev @KianGhk1530 @XCezor @MrP0tter @Blazer135 @TemplarGeneral
/LICENSE                 @Kalkalash @AngriestBird

# Map changes
/map/                    @AngriestBird @Kalkalash @KianGhk1530 @lugdunum1715

# Defines
/common/defines/         @crocomoth @KianGhk1530 @MrP0tter @Kalkalash

# Git configurations
/.gitignore              @AngriestBird @Kalkalash @KianGhk1530 @Blazer135 @crocomoth @XCezor @TemplarGeneral
/.gitlab-ci.yml          @AngriestBird @Kalkalash @KianGhk1530 @Blazer135 @crocomoth @XCezor @TemplarGeneral
/.gitattributes          @AngriestBird @Kalkalash @KianGhk1530 @Blazer135 @crocomoth @XCezor @TemplarGeneral
/.gitlab/                @AngriestBird @Kalkalash @KianGhk1530 @Blazer135 @crocomoth @XCezor @TemplarGeneral
/.github/                @AngriestBird @Kalkalash @KianGhk1530 @Blazer135 @crocomoth @XCezor @TemplarGeneral

# Tools
/tools/                  @AngriestBird @Kalkalash @KianGhk1530 @Blazer135 @crocomoth @XCezor @TemplarGeneral

# Pre-commit
/.pre-commit-config.yaml @AngriestBird

# CODEOWNERS
/CODEOWNERS              @AngriestBird @Kalkalash @KianGhk1530 @crocomoth

# Privacy Policy
/docs/src/content/pages/bug-bot-privacy.md @AngriestBird
